.answer-option{
    

    margin-block: 10px;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.answer-text{
    display:flex;
    align-items: start;
    
    padding: 20px ;
    border: 2px black solid;
    border-radius: 20px;
}

.option-label{
    border: 2px black solid;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    padding: 12px;
    margin-inline: 0 20px;

    text-transform: capitalize;

    font-weight: bold;
}